[submodule "deps/buxn"]
	path = deps/buxn
	url = https://github.com/bullno1/buxn.git
[submodule "deps/bio"]
	path = deps/bio
	url = https://github.com/bullno1/bio.git
[submodule "deps/blibs"]
	path = deps/blibs
	url = https://github.com/bullno1/libs.git
[submodule "deps/minicoro"]
	path = deps/minicoro
	url = https://github.com/edubart/minicoro.git
[submodule "deps/liburing"]
	path = deps/liburing
	url = https://github.com/axboe/liburing.git
[submodule "deps/yyjson"]
	path = deps/yyjson
	url = https://github.com/ibireme/yyjson.git
